{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css\styles.css'  %}">
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
  <title>LOJÂO</title>


</head>


<body>
  <section class="section1">
    <nav class="navbar">
      <div class="logo">
        <i class="fa-solid fa-store"></i>
      </div>

      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <ul class="nav-links">
        <div class="menu">
          <li><a href="/">Início</a></li>
          <li><a href="/">Sobre</a></li>
          <li class="services">
            <a href="./departamentos.html">Departamentos</a>
          </li>
          <li><a href="/">Promoções</a></li>
          <li><a href="/">Novidades</a></li>

          <a href="./login.html" button type="submit" class="btncadastro1">
            LOGIN/CADASTRO
          </a>

      </ul>
    </nav>

    </div>
    </ul>
    </nav>
    <div class="links">
      <a href="#departamentos">Departamentos</a>
      <a href="#element-2">Endereço</a>
      <a href="#element-3">Metodos de pagamento</a>
      <a href="#element-4">Banho</a>
      <a href="#element-5">Escritório</a>

    </div>

    <div class="caroussel">
      <!-- Carousel wrapper -->
      <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
          <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1" aria-label="Slide 2"></button>
          <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
          <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(19).webp" class="d-block w-100"
              alt="Motorbike Smoke" />
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(35).webp" class="d-block w-100"
              alt="Mountaintop" />
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(40).webp" class="d-block w-100"
              alt="Woman Reading a Book" />
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
          data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
          data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Informativo -->


    <div class="text-center" style=" border-radius: 30px!important; border-color: black!important;">

      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative" style="
      background-color: beige!important; 
      
      box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5)!important;">
          <i class="fas fa-dice fa-3x text-primary mb-4 pt-3" style="color: #ef233c!important;"></i>
          <h5 class="text-primary fw-bold mb-3" style="color: #ef233c!important;">Brinquedos</h5>
          <h6 class="fw-normal mb-0"></h6>
          <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative" style="
      background-color: beige!important;  
      box-shadow:0 7px 30px -10px rgba(150,170,180,0.5)!important;">
          <i class="fas fa-bed  fa-3x text-primary mb-4 pt-3" style="color: #ef233c!important;"></i>
          <h5 class="text-primary fw-bold mb-3" style="color: #ef233c!important;">Cama</h5>
          <h6 class="fw-normal mb-0"></h6>
          <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative" style="
      background-color: beige!important;  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5)!important;">
          <i class="fas fa-basket-shopping fa-3x text-primary mb-4 pt-3" style="color: #ef233c!important;"></i>
          <h5 class="text-primary fw-bold mb-3" style="color: #ef233c!important;">Itens de casa</h5>
          <h6 class="fw-normal mb-0"></h6>
          <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative" style="
      background-color: beige!important;  
      box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5)!important;">
          <i class="fas fa-circle-plus  fa-3x text-primary mb-4 pt-3" style="color: #ef233c!important;"></i>
          <h5 class="text-primary fw-bold mb-3" style="color: #ef233c!important;">E muito +</h5>
          <h6 class="fw-normal mb-0"></h6>
          <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
        </div>
      </div>
    </div>


  </section>

  <!-- Cards de promoção-->
  <section class="section2">


    <!-- Metodos de Pagamento -->

    <div class="container">
      <h2>Metodos de pagamento</h2>
      <div class="paymetodos">
        <div class="container-fluid">
          <i class="fa-brands fa-pix"></i>
          <p>Pix</p>
        </div>
        <div class="container-fluid">
          <i class="fa-solid fa-credit-card"></i>
          <p>Débito e Crédito</p>
        </div>
        <div class="container-fluid">
          <i class="fa-brands fa-paypal"></i>
          <p>PayPal</p>
        </div>
        <div class="container-fluid">
          <i class="fa-duotone fa-money-bill"></i>
          <p>Boleto</p>
        </div>
      </div>
    </div>


    <!-- CARDS COM SCROLL-->

    <div class="container w-100" id="departamentos">
      <h2>Departamentos</h2>
      <ul class="cards">
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
        <li class="card">
          <div>
            <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
          </div>
          <div class="card-link-wrapper">
            <a href="" class="card-link">Acessar</a>
          </div>
        </li>
      </ul>
    </div>




  </section>
  <section class="section3">





    <!-- Metodos de Pagamento -->

    <div class="container">
      <h2>Novidades</h2>
     
      <div class="grid stretch">
        <div class="item">
          <h3 class="card-title">Cozinha</h3>
            <div class="card-content">
              <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
            </div>
        </div>
        <div class="item">
          <h3 class="card-title">Cozinha</h3>
          <div class="card-content">
            <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
          </div>
        </div>
        <div class="item">
          <h3 class="card-title">Cozinha</h3>
          <div class="card-content">
            <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
          </div>
        </div>
        <div class="item">
          <h3 class="card-title">Cozinha</h3>
          <div class="card-content">
            <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
          </div>
        </div>
        <div class="item">
          <h3 class="card-title">Cozinha</h3>
          <div class="card-content">
            <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
          </div>
        </div>
        <div class="item">
          <h3 class="card-title">Cozinha</h3>
          <div class="card-content">
            <img src="{% static 'img/faqueiro.png' %}" alt="card-image">
          </div>
        </div>
      </div>
    </div>


  </section>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/mdb.min.js' %}"></script>
</body>

</html>